ul {
  width: 275px;
}

li {
  margin: 0.2em;
  font-family: cursive;
}

li.completed {
  opacity: 0.5;
  text-decoration: line-through;
}

.entry {
  display: flex;
  justify-content: space-around;
}

.delete {
  opacity: 0;
}

.entry:hover {
  .delete {
    opacity: 1;
  }
}
